<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>乐淘商城-详情页</title>
  <link rel="icon" href="favicon.ico">
  <link rel="stylesheet" href="lib/mui/css/mui.css">
  <link rel="stylesheet" href="lib/fa/css/font-awesome.css">
  <link rel="stylesheet" href="css/product.css">
</head>

<body>
  <div class="lt_container">
    <div class="lt_header">
      <a href="javascript:history.go(-1);" class="icon-left">
        <span class="mui-icon mui-icon-back"></span>
      </a>
      <h4>商品详情</h4>
      <a href="javascript:history.go(0);" class="icon-right">
        <span class="mui-icon mui-icon-reload"></span>
      </a>
    </div>
    <div class="lt_content">
      <div class="mui-scroll-wrapper">
        <div class="mui-scroll">
         <!-- 挖大坑 -->
        </div>
      </div>
    </div>
    <div class="go_cart">
        <button class="mui-btn mui-btn-link">去购物车</button>
        <div class="mui-pull-right">
            <button type="button" class="mui-btn mui-btn-danger addCart">加入购物车</button>
            <button type="button" class="mui-btn mui-btn-warning">立即购买</button>
        </div>
      </div>
  </div>
  <script type="text/html" id="tpl">
  
   <div class="mui-slider">
            <div class="mui-slider-group mui-slider-loop">
              <!--第一个内容区容器-->
              <div class="mui-slider-item mui-slider-item-duplicate">
                <a href="#">
                  <img src="{{ pic[pic.length-1].picAddr }}">
                </a>
              </div>
              {{each pic v i }}
              <div class="mui-slider-item">
                <a href="#">
                  <img src="{{v.picAddr }}">
                </a>
              </div>
              {{ /each }}
              <div class="mui-slider-item mui-slider-item-duplicate">
                <a href="#">
                  <img src="{{pic[0].picAddr}}">
                </a>
              </div>
            </div>
            <div class="mui-slider-indicator">
              {{ each pic v i }}
              <div class="mui-indicator {{ i==0?'mui-active':'' }}"></div>
              {{ /each }}
            </div>
          </div>
          <div class="proName">
            <strong>{{proName}}</strong>
          </div>
          <div class="product-price">
            价格：
            <span class="price">&yen;{{price}}</span>
            <span class="oldPrice">&yen;{{oldPrice}}</span>
          </div>
          <div class="product-size">
            尺码：
            <% 
               var temp=size.split("-");
               for(var i = temp[0]; i<temp[1];i++ ){
            %>
            <span>{{i}}</span>
            <% }  %>
          </div>
          <div class="product-num">
            数量：
            <div class="mui-numbox" data-numbox-min='1' data-numbox-max='{{num}}'>
              <!-- "-"按钮，点击可减小当前数值 -->
              <button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
              <input class="mui-numbox-input" type="number" />
              <!-- "+"按钮，点击可增大当前数值 -->
              <button class="mui-btn mui-numbox-btn-plus" type="button">+</button>
            </div>
            <span class="num">剩余数量：{{num}}双</span>
          </div>
          <div class="proDesc">
            <p>详情：{{proDesc}}</p>
          </div>
  
  </script>
  <script src="lib/artTemplate/template-web.js"></script>
  <script src="lib/zepto/zepto.min.js"></script>
  <script src="lib/mui/js/mui.js"></script>
  <script src="js/common.js"></script>
  <script src="js/product.js"></script>
</body>

</html>